@font-face 
{
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

*
{
  padding: 0;
  margin: 0;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
}


.sidebar
{
  height: 100vh;
  width: 30vw;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main
{
  height: 99vh;
  width: 70vw;
}

.section-1
{
  text-align: left;
  height: 30vh;
  font-weight: bold;
  font-size: 20px;
  padding-top: 100px;
  padding-left: 40px;
}

.section-2
{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.section-2 h1
{
  font-size: 20px;
}

.section-2 label
{
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.section-2 input
{
  border: 1px #E5E7EB solid;
  border-radius: 5px;
  width: 250px;
  height: 25px;
}

.grouping
{
  display: flex;
  margin-top: 10px;
}

.create-account
{
  margin-top: 50px;
}

.create-account input
{
  width: 200px;
  border-radius: 10px;
  font-family: roboto;
  padding-bottom: 35px;
  padding-top: 15px;
  background-color: #596D48;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.login-subtext
{
    margin-top: 20px;
}

.login-subtext a
{
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}